{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre você</title>
    <link rel="stylesheet" href="{% static 'admin/css/perfil-editar.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">Carona Solidária</div>
        <div class="user-profile">Nome do Usuário</div>
    </header>
    <main class="main-container">
        <h1>Editar perfil</h1>
        <form class="form">
            <div class="form-group">
                <label for="username">Nome do usuário</label>
                <input type="text" id="username" placeholder="Deve ser único">
            </div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" placeholder="Digite seu nome social">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Digite um e-mail válido">
            </div>
            <div class="form-group">
                <label>Foto perfil</label>
                <div class="profile-picture">
                    <div class="circle"></div>
                    <div class="actions">
                        <button type="button" class="update">Atualizar</button>
                        <button type="button" class="delete">Apagar</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea id="bio" placeholder="Escreva um pouco sobre você"></textarea>
            </div>
            <div class="form-group">
                <label for="address">Endereço</label>
                <input type="text" id="address" placeholder="Ex.: Rua Clovis Lira nº 139">
            </div>
            <div class="form-group">
                <label for="phone">Telefone</label>
                <input type="text" id="phone" placeholder="Ex.: (84) 9 9985-0928">
            </div>
            <div class="form-group">
                <label for="car">Carro</label>
                <input type="text" id="car" placeholder="Ex.: Ford Ka Sedan Branco">
            </div>
            <div class="form-group">
                <label for="cnh">CNH</label>
                <input type="text" id="cnh">
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf">
            </div>
            <button type="submit" class="submit-button">Aplicar</button>
        </form>
    </main>
</body>
</html>
